* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header, nav, h2, .main-visual, footer {
  font-family: "Chalkduster", "Bradley Hand", "Courier", "Segoe Print", "sans-serif";
}

header {
  position: relative;
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline{
    font-size: 32px;
}
.social {
  position: absolute;
  top: 22px;
  right: 22px;
}
.social i{
  display: inline-block;
  margin-left: 20px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}
.main-visual-content{
  width: 40%;
  height: 300px;
  background-color: rgba( 0, 0, 0, 0.5);
  text-align: center;
  padding-top: 105px;
}
.main-visual-text{
  color: #fff;
}
.main-visual-name {
  margin-top: 30px;
}
