* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  background-color: red; /* 背景赤色 */
}

.main-visual {
  width: 100%; /* 横幅 */
  height: 300px; /* 高さ */
  background-color: orange; /* 背景色 */
}
