* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
/*headerタグ内のheadlineクラスにのみ反映される*/
header.headline{
  font-size: 32px;
}

.nav-list{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%; /* 横幅 */
  height: 300px; /* 高さ */
}
.main-visual-content{
  width: 350px; /* 横幅を指定 */
  height: 300px; /* 親の高さに揃える */
}

.main {
  width: 840px; /* 横幅 */
  margin: 0 auto;
}
.blog {
  width: 600px;
  height: 1400px;
  float: left; /* 要素を左揃えで並べる */
}
.sidebar {
  width: 240px;
  height: 1400px;
  float: left; /* 要素を左揃えで並べる */
}

footer {
  width: 100%; /* 横幅 */
  height: 120px; /* 高さ */
  text-align:  center;
  padding:  50px 0;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
