* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

}
header {
  width: 10%;
}
/*headerタグ内のheadlineクラスにのみ反映される*/
header.headline{
  font-size: 22px;
}

.list{
  padding-left: 40px;
}

.nav{
  text-align: left;
}
