* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline{
    font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}
.main-visual-content{
  width: 40%;
  height: 300px;
  background-color: rgba( 0, 0, 0, 0.5);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
}
.main-visual-name {
  margin-top: 30px; /* 上側の外側の余白 */
  color: #fff; /* 文字色を白に変更 */
}

main {
  width: 840px;
  margin: 0 auto;
  padding: 70px 0;
}
.blog {
  width: 540px;
  float: left;
  margin-right: 30px;
}

.blog-headline{
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.blog-image{
  height: 180px;
  float: left;
}
.blog-box{
  margin-top: 50px:
}
.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  float: left;
}
.blog-text{
  float: left;
  margin-top: 30px;
  margin-left: 25px;
}
.blog-text-headline{
  margin-bottom: 15px;
}
.blog-date{
  font-size: 12px;
  display: inline-block;
}
.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}
.sidebar {
  width: 230px;
  float: left;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}
